
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-user-1:before { content: '\e802'; } /* '' */
.icon-youtube-squared:before { content: '\e803'; } /* '' */
.icon-facebook-squared:before { content: '\e804'; } /* '' */
.icon-globe-1:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-mail-1:before { content: '\e807'; } /* '' */
.icon-skype:before { content: '\e808'; } /* '' */
.icon-gplus-squared:before { content: '\e809'; } /* '' */