### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule index-Rolko-Adams-Adam-Szwiec-zaklad-mechaniczny-karcher-tlok index.html
RewriteRule oferta-karcher-tlok-glowicy-myjki-hydropiaskowanie oferta.html
RewriteRule kontakt-firma-rolko-adams-telefon-nip-email kontakt.html
RewriteRule dojazd-Radłów-kolejowa-tlok-glowicy-myjki-karcher dojazd.html

