body
{
	background-color: #D0D0D1;
}
#container
{
	
	width: 996px;
	min-height: 920px;
	margin-left: auto;
	margin-right: auto;
	background-color: #B0B0B5;
	padding: 1px;
}

#logo
{

	width: 996px;
	background-color: #F0F0F0;
	color: white;
	text-align: center;
	min-height: 10px;
}

#content
{

	background-color: #F0F0F0;
	width: 996px;
	min-height: 952px;
}

.zdjecia
{
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 1px;
	background-color: #B0B0B5;
	opacity: 0.96;
	height: 270px;
	
}
.zdjecia:hover
{
	background-color: #404040;
	cursor: pointer;
	opacity: 1;
}
.zdjecia:link
{
	background-color: #404040;
	cursor: pointer;
}
.zdjecia:visited
{
	background-color: #404040;
	cursor: pointer;
}

#footer
{
	clear: both;
	margin-top: 1px;
	text-height: 15px;
	width: 976px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #F0F0F0;
	color: #B0B0B5;
	text-align: center;
}